@tailwind base;
@tailwind components;
@tailwind utilities;




@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#gemini-logo{

  animation:3s scale-animation infinite ease-in-out;

}
@keyframes scale-animation {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(0.9);

  }
}